*{
    font-family: Georgia, serif;
}

.acquisitionDate {
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 10px;
}

.artImage img {
    height: auto;
}

.artwork {
    background-color: rgb(254, 182, 99);
    border: 2px solid rgb(139, 46, 0);
    border-radius: 10px;
    color: rgb(63, 21, 0);
    display: flex;
    flex-direction: column;
    font-size: 17px;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

body{
margin: 0;
}

button {
    background-color: rgb(139, 46, 0);
    border-radius: 10px;
    border: none;
    color: rgb(255, 208, 160);
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

button:hover {
    background-color: rgb(240, 117, 56);
    color: white;
}

h1{
    color:rgb(63, 21, 0);
    margin: 10px;
    padding: 10px;
}

h2 {
    color:rgb(139, 46, 0);
    margin: 10px;
    padding: 10px;
}

.timePeriodText p{
    border: 2px solid rgb(240, 117, 56);
    border-radius: 10px;
    color:rgb(63, 21, 0);   
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}


.titleText {
    font-weight: bold;
}


.upperContent {
    align-items: center;
    display: flex;
    justify-content: center;
}

.WebWrapper {
    align-items: center;
    background-color: rgb(255, 208, 160);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; /* Ensure the content fills the entire viewport height */
    text-align: center;
}





 

